<router-outlet></router-outlet>

<h1>Editar Plato</h1>
<div *ngIf=plato>
  <div>
    Nombre: <input type="text" [(ngModel)]="plato.nombre">
  </div>
  <div>
    Precio: <input type="number" [(ngModel)]="plato.precio"> Bs.
  </div>
  <div>
    Personalizable: <input type="checkbox" [(ngModel)]="plato.personal">
  </div>
  <div *ngIf="plato.personal">
    <h4>Contornos:</h4>
      <div *ngFor="let contorno of plato.contornos" >
        Nombre: <input type="text" [(ngModel)]="contorno.nombre">
        Precio: <input type="number" [(ngModel)]="contorno.carga"> Bs.
      </div>
      <a class="btn btn-primary">Agregar contorno</a>
  </div>
  <div>
      Habilitado: <input type="checkbox" [(ngModel)]="plato.activo">
  </div>
  
  <a class="btn btn-primary" (click)="save()">Guardar Cambios</a>
</div>

