.card{
    margin-top:2%;
    margin-left:20%;
    width: 50%;
}
button{
    width:30%;
    margin-top:2%;
    margin-bottom:2%;
    margin-left:37.5%;
    text-align:center;
}
.card-header{
    display: flex;
    background-color: white;
    border-bottom: solid rgb(235, 64, 11);
    width: 90%;
    font-size: 130%;
}
.card-body{
    display: flex;
    background-color: white;
    border-bottom: solid rgb(252, 138, 32);
    width: 90%;
    font-size: 130%;
}
.card-footer{
    display: flex;
    background-color: white;
    border-bottom: solid rgb(235, 64, 11);
    width: 90%;
    font-size: 130%;
}
p{
    color: red;
}