<router-outlet></router-outlet>

<div *ngIf="cliente" class="container">
    <div class="card">
      <h2>{{cliente.displayName}}</h2>
      <div class="card-header">Número de contacto: {{cliente.telefono}}</div>
      <div class="card-body">Correo: {{cliente.email}}</div> 
      <div class="card-footer">Dirección: {{cliente.direccion}}</div>
      <div ></div>
      <button (click)="setCambiarTrue()" class="btn btn-primary">Cambiar Clave</button>
      <div *ngIf=cambiandoClave>
        <label>Nueva contraseña:</label><br>
        <input type="password" (keyup)="validarPass($event)" [(ngModel)]="pass" #password="ngModel" [ngModelOptions]="{standalone: true}" placeholder="Elija una contraseña"  maxlength="20"><br>
        <p *ngIf=validPass>La contraseña debe ser mayor a 8 caracteres</p><br>
        <label>Confirmar Contraseña:</label><br>
        <input type="password" (keyup)="validarConfirPass($event)" [(ngModel)]="passConfirm" [ngModelOptions]="{standalone: true}" placeholder="Confirma la contraseña" maxlength="20"><br>
        <p *ngIf=validConfirPass>Las contraseñas no coinciden</p><br>
        <button (click)="cambiarClave()" class="btn btn-primary bt">Guardar</button>
      </div>
    </div>
    <div>
      
    </div>
  

  <h2>Ordenes:</h2>
  <div *ngIf="cliente.envios.length !== 0">
    Por pagar:
    <div *ngFor="let envio of envios">
      Orden:
      <div *ngIf="!envio.pagada">
        <div *ngFor="let plato of envio.platos">
          Plato:<br>
          {{plato.nombre}}<br>
          {{plato.precio}} Bs.<br>
          <div *ngIf="plato.contornos">
            <div *ngFor="let contorno of plato.contornos">
              <div *ngIf="contorno.elegido">
                Contorno:
                {{contorno.nombre}}<br>
                {{contorno.carga}} Bs.<br>
              </div>
            </div>
          </div>
        </div><br>
        <p>Total: {{envio.precio}}</p>
        <a class="btn btn-primary">Pagar</a><br>
        --------------------------------------------------------------------
      </div>
    </div>
    Previas:
    <div *ngFor="let envio of envios">
      <div *ngIf="envio.pagada">
        Pagadas
      </div>
    </div>
  </div>
</div>