<div class="container1 row">
  
  <nav class="navbar navbar-expand-sm bg-light">
    <ul class="navbar-nav">
      <div class="col-md-1">
        <li><img src="https://firebasestorage.googleapis.com/v0/b/u-make-it.appspot.com/o/logo.jpg?alt=media&token=a18b8ebe-8fa5-4f38-abcc-690ae9ee2758"></li>
      </div>
      <div class="col-md-2 name">
        <li><p>Modo Admin</p></li>
      </div>
      <div class="col-md-2">
        <li class="nav-item"><a class="nav-link" (click)="toHome()"><strong>Inicio</strong></a></li>
      </div>
      <div class="col-md-2">
        <li class="nav-item"><a class="nav-link" (click)="toMenu()"><strong>Menú</strong></a></li>
      </div>
      <div class="col-md-3">
        <li class="nav-item"><a class="nav-link" (click)="toEnvios()"><strong>Envíos pendientes</strong></a></li>
      </div>
      <div class="col-md-2">
        <li class="nav-item"><a class="nav-link" href="" (click)="logout()"><strong>Salir</strong></a></li>
      </div>
    </ul>
  </nav>
</div>
<router-outlet></router-outlet>