ul{
    padding:0;
}
li{
    list-style:none;
    display:inline;
    background: #2f49da;
    padding:0;
    margin:0;
    width:100%;
}

li a{
    width: 24.5%;
    display:inline-block;
    text-align: center;
    text-decoration: none;
    color:rgb(235, 165, 26);
}

li a:hover{
    background: lightcoral;
}