
<router-outlet></router-outlet>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Imágen</th>
            <th>Producto</th>
            <th>Precio</th>
            <th>Personalizar</th>
            <th>Ordenar</th>
        </tr>
    </thead>
    <tr *ngFor="let plato of platos">
        <td *ngIf="plato.activo"><img class="rounded mx-auto d-block" width=100 src="{{plato.image}}"></td>
        <td *ngIf="plato.activo">{{plato.nombre}}</td>
        <td *ngIf="plato.activo">{{plato.precio}} Bs.</td>
        <td *ngIf="plato.activo">
            <div *ngIf="plato.personal" class="dropdown">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                Personalizar</button>
                <div class="dropdown-menu">
                    <div *ngFor="let contorno of plato.contornos" >
                      <a class="dropdown-item">{{contorno.nombre}} ({{contorno.carga}} Bs.)</a>
                    </div>
                </div>
            </div>
            <div *ngIf="plato.personal == false">
                No personalizable
            </div>
        </td>
        <td *ngIf="plato.activo"><a class="btn btn-primary">Ordenar</a></td>
    </tr>
</table>
<input type="text" placeholder="Busca un plato"> 
<a class="btn btn-primary">Buscar</a>