
<router-outlet></router-outlet>
<div *ngIf="platos.length !== 0 && !pagando">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Imágen</th>
                <th>Producto</th>
                <th>Precio</th>
                <th>Contornos</th>
                <th>Ordenar</th>
            </tr>
        </thead>
        <tr *ngFor="let plato of platos">
            <td *ngIf="plato.activo"><img class="rounded mx-auto d-block" width=100 src="{{plato.image}}"></td>
            <td *ngIf="plato.activo">{{plato.nombre}}</td>
            <td *ngIf="plato.activo">{{plato.precio}} Bs.</td>
            <td *ngIf="plato.activo">
                <div *ngIf="plato.personal" class="dropdown">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    Contornos</button>
                    <div class="dropdown-menu">
                        <div *ngFor="let contorno of plato.contornos" >
                        <a class="dropdown-item">{{contorno.nombre}} ({{contorno.carga}} Bs.)</a>
                        </div>
                    </div>
                </div>
                <div *ngIf="plato.personal == false">
                    No personalizable
                </div>
            </td>
            <td *ngIf="plato.activo"><a (click)="agregar(plato)"  class="btn btn-primary">Ordenar</a></td>
        </tr>
    </table>
</div>
<div *ngIf="platos.length === 0 && buscando && !pagando">
    No hay platos por ese nombre!!
</div><br><br>
<input type="text" [(ngModel)]="campoText" #campo="ngModel" [ngModelOptions]="{standalone: true}" (keyup)="search($event)" placeholder="Busca un plato">
<div *ngIf="ordenando && !pagando">
    Orden:
    <div>
        <table *ngIf="platos.length !== 0" class="table table-bordered">
            <thead>
            <tr>
                <th>Imágen</th>
                <th>Producto</th>
                <th>Precio</th>
                <th>Personalizar</th>
                <th>Eliminar</th>
            </tr>
            </thead>
            <tr *ngFor="let plato of envio.platos; index as i">
                <td><img class="rounded mx-auto d-block" width=100 src="{{plato.image}}"></td>
                <td>{{plato.nombre}}</td>
                <td>{{plato.precio}} Bs.</td>
                <td>
                    <div *ngIf="plato.personal">
                    <div *ngFor="let contorno of plato.contornos" >
                        <a *ngIf="!contorno.elegido">{{contorno.nombre}} ({{contorno.carga}} Bs.)<input (click)="select(contorno)" type="checkbox" ></a>
                        <a *ngIf="contorno.elegido">{{contorno.nombre}} ({{contorno.carga}} Bs.)<input (click)="select(contorno)"  type="checkbox" checked></a>
                    </div>
                    </div>
                    <div *ngIf="plato.personal == false">
                        No personalizable
                    </div>
                </td>
                <td><a (click)="eliminar(i)" class="btn btn-primary">Eliminar</a></td>
            </tr>
        </table>
        <p>Total: {{envio.precio}} Bs.</p>
        <a (click)="goToPagar()" class="btn btn-primary">Ir a Pagar</a>
    </div>
</div>
<div *ngIf="pagando">
    Orden:
    <div>
        <table *ngIf="platos.length !== 0" class="table table-bordered">
            <thead>
            <tr>
                <th>Imágen</th>
                <th>Producto</th>
                <th>Precio</th>
                <th>Personalización</th>
            </tr>
            </thead>
            <tr *ngFor="let plato of envio.platos; index as i">
                <td><img class="rounded mx-auto d-block" width=100 src="{{plato.image}}"></td>
                <td>{{plato.nombre}}</td>
                <td>{{plato.precio}} Bs.</td>
                <td>
                    <div *ngIf="plato.personal">
                        <div *ngFor="let contorno of plato.contornos" >
                            <p *ngIf="contorno.elegido">{{contorno.nombre}} ({{contorno.carga}} Bs.)</p>
                        </div>
                    </div>
                    <div *ngIf="plato.personal == false">
                        No personalizable
                    </div>
                </td>
            </tr>
        </table>
        <p>De no colocar dirección se le enviará le pedido a su dirección por defecto</p>
        <input type="text" [(ngModel)]="dirPagoText" #dirPago="ngModel" [ngModelOptions]="{standalone: true}" placeholder="Introduce una dirección de envío">
        <p>SubTotal: {{envio.precio}} Bs.</p>
        <p>Impuestos: {{impuestos}} Bs.</p>
        <p>Total: {{total}} Bs.</p>
    </div>
    <p *ngIf="paypalLoad">Se está cargando el botón</p>
    <div id="paypal-button-container"></div>
    <a (click)="pagarSimul()" class="btn btn-primary">Pago Simulado</a>
    <a (click)="volverFromPago()" class="btn btn-primary">Volver</a>
</div>
