
<router-outlet></router-outlet>

<table *ngIf="platos.length !== 0" class="table table-bordered">
    <thead>
        <tr>
            <th>Imágen</th>
            <th>Producto</th>
            <th>Precio</th>
            <th>Personalizar</th>
            <th>Ordenar</th>
        </tr>
    </thead>
    <tr *ngFor="let plato of platos">
        <td *ngIf="plato.activo"><img class="rounded mx-auto d-block" width=100 src="{{plato.image}}"></td>
        <td *ngIf="plato.activo">{{plato.nombre}}</td>
        <td *ngIf="plato.activo">{{plato.precio}} Bs.</td>
        <td *ngIf="plato.activo">
            <div *ngIf="plato.personal" class="dropdown">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                Personalizar</button>
                <div class="dropdown-menu">
                    <div *ngFor="let contorno of plato.contornos" >
                      <a class="dropdown-item">{{contorno.nombre}} ({{contorno.carga}} Bs.)</a>
                    </div>
                </div>
            </div>
            <div *ngIf="plato.personal == false">
                No personalizable
            </div>
        </td>
        <td (click)="agregar(plato)" *ngIf="plato.activo"><a class="btn btn-primary">Ordenar</a></td>
    </tr>
</table>
<div *ngIf="platos.length === 0">
    No hay platos por ese nombre!!
</div><br><br>
<div *ngIf="envio.platos.length !== 0">
    Orden:
    <div>
        <table *ngIf="platos.length !== 0" class="table table-bordered">
            <thead>
            <tr>
                <th>Imágen</th>
                <th>Producto</th>
                <th>Precio</th>
                <th>Personalizar</th>
                <th>Ordenar</th>
            </tr>
            </thead>
            <tr *ngFor="let plato of envio.platos">
                <td><img class="rounded mx-auto d-block" width=100 src="{{plato.image}}"></td>
                <td>{{plato.nombre}}</td>
                <td>{{plato.precio}} Bs.</td>
                <td>
                    <div *ngIf="plato.personal">
                    <div *ngFor="let contorno of plato.contornos" >
                        <a>{{contorno.nombre}} ({{contorno.carga}} Bs.)<input type="checkbox"></a>
                    </div>
                    </div>
                    <div *ngIf="plato.personal == false">
                        No personalizable
                    </div>
                </td>
                <td (click)="eliminar(i)"><a class="btn btn-primary">Eliminar</a></td>
            </tr>
        </table>
        <button (click)="ordenar()" class="btn btn-primary">Confirmar Orden</button>
    </div>
</div>
<input type="text" [(ngModel)]="campoText" #campo="ngModel" [ngModelOptions]="{standalone: true}" (keyup)="search($event)" placeholder="Busca un plato">