<div class="container">
  <img class="rounded-circle mx-auto d-block" width=150 src="../../assets/logo.jpg">
</div>
<br>
<h1>Inicio de Sesión</h1>
<form (submit)="login($event)">
  <label>Correo electrónico</label>
  <input type="text" placeholder="Nombre de Usuario" [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}" maxlength="20"><br><br>
  <label>Contraseña</label>
  <input type="password" placeholder="Contraseña" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}" maxlength="20"><br><br>
  <button type="submit" class="btn btn-primary bt log" role="button">Entrar</button><br>
  <button type="button" class="btn btn-primary bt register" routerLink="/form" role="button">Registrarse</button><br>_
</form>

