<router-outlet></router-outlet>

<div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
        </ul>
      
        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="mx-auto d-block" src="../../assets/48a41143eb799e0dd3173009144895c1.jpg" alt="Pizza">
            <div class="carousel-caption">
                <h3>Esto es un caption</h3>
                <p>Que hay que llenar</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="mx-auto d-block" src="../../assets/72475874-fish-burger-fishburger-hamburger-and-fries-tomatoes-lettuce-cheese-unhealthy.jpg" alt="Hamburger">
            <div class="carousel-caption">
                    <h3>Esto es un caption 2</h3>
                    <p>Que hay que llenar</p>
            </div>
          </div>
        </div>
      
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      
      </div>