<div class="container">
  
  <nav class="navbar navbar-expand-sm bg-light">
    <ul class="navbar-nav">
      <li><img src="../../../assets/logo.jpg" height="40"></li>
      <li><p>Admin:Nombre</p></li>
      <li class="nav-item"><a class="nav-link" href="/home-admin"><strong>Inicio</strong></a></li>
      <li class="nav-item"><a class="nav-link" href="/menu-admin"><strong>Menú</strong></a></li>
      <li class="nav-item"><a class="nav-link" href="/envios"><strong>Envíos pendientes</strong></a></li>
      <li class="nav-item"><a class="nav-link" href=""><strong>Log Out</strong></a></li>
    </ul>
  </nav>
</div>
<router-outlet></router-outlet>