.container{
    width: 100%;
    background:rgb(204, 204, 204);
}

p{
    color:white;
}

nav{
    padding:0;
}

ul{
    background:rgb(204, 204, 204);
    width:100%;
}

li{
    color:white;
    margin-left: 3%;
}

.name{
    margin-left:5%;
}

li:hover{
    cursor: pointer;
}

a:hover{
    box-shadow: 0 2px orange;
}

img{
    background:rgb(204, 204, 204);
    margin-left:10%;
}

a{
    color:white;
}