<div class="container">
  
  <nav class="navbar navbar-expand-sm bg-light">
    <ul class="navbar-nav">
      <li><img src="../../../assets/logo.jpg" height="40"></li>
      <li class="nav-item"><a class="nav-link" href="/home"><strong>Inicio</strong></a></li>
      <li class="nav-item"><a class="nav-link" href="/menu"><strong>Ordenar</strong></a></li>
      <li class="nav-item"><a class="nav-link" href="/user"><strong>Usuario</strong></a></li>
      <li class="nav-item"><a class="nav-link" href="/ayuda"><strong>Ayuda</strong></a></li>
      <li class="nav-item"><a class="nav-link" (click)="logout()"><strong>Salir</strong></a></li>
      <li class="name">Nombre: </li>
    </ul>
  </nav>
</div>
<router-outlet></router-outlet>
