<html>
<body>
<h1>Nuevo Usuario</h1>
<form>
  <label>Nombre</label>
  <input type="text" placeholder="Introduzca su Nombre" maxlength="20"><br><br>
  <label>Cédula de identidad</label>
  <input type="text" placeholder="Introduzca su número de cédula" maxlength="20"><br><br>
  <label>Nombre de Usuario</label>
  <input type="text" placeholder="Escoja un Nombre de Usuario" maxlength="20"><br><br>
  <label>Contraseña</label>
  <input type="password" placeholder="Elija una Contraseña" maxlength="20"><br><br>
  <label>Correo</label>
  <input type="text" placeholder="Escriba su correo" maxlength="20"><br><br>
  <a class="inicio" href="../home/" role="button">Crear Cuenta</a>
</form>
</body>
</html>