h1{
    text-align: center;
    width:34%;
    margin-left:37%;
    margin-bottom:5%;
    font-family:'Lucida Sans Unicode';
    border-bottom:solid orangered 2px;
    ;
}

label{
    margin-left:5%;
    font-family:'Lucida Sans Unicode';
}

input{
    border-radius: 20px;
    width: 50%;
    display: flex;
    flex-direction:column;
    border: none;
    background: white;
}

form{
    background:#f1f1f1;
    border-radius: 10%;
    width:30%;
    margin-left:40%;
    padding: 4% 4% 1% 0;
    font-family:'Lucida Sans Unicode';
}
a{
    text-decoration: none;
    margin-left:40%;
    color: rgb(0, 0, 0);
    padding: 2% 6%;
    background: rgb(18, 147, 233);
    border-radius: 20px;
    font-family:'Lucida Sans Unicode';
    font-size: small;
    text-align: center;
}
a:link{
    color:black;
}
a:hover{
    background: #0a1aff;
}
input{
    width: 100%;
    margin-left:5%;
    margin-bottom: 0%;
    padding: 2%;
    font-family:'Lucida Sans Unicode';
    
}
input:focus{
    border: 1px solid #2f49da;
}

