<router-outlet></router-outlet>

<table *ngIf="!editState" class="table table-bordered">
    <thead>
        <tr>
            <th>Imágen</th>
            <th>Producto</th>
            <th>Precio</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tr  *ngFor="let plato of platos">
        <td><img class="rounded mx-auto d-block" width=100 src="{{plato.image}}"></td>
        <td><p>{{plato.nombre}}</p></td>
        <td><p>{{plato.precio}} BsS.</p></td>
        <td><a class="btn btn-primary other" (click)="edit($event,plato)">Editar</a></td>
        <td><a class="btn btn-primary other" (click)="confirmElminar(plato)">Eliminar</a></td>
    </tr>
</table>

<div *ngIf="editState">
    <form (ngSubmit)="updatePlato(platoToEdit)">
        <h5>Editando: {{platoToEdit.nombre}}</h5>
        <div *ngIf=editingImage>
            <img src="{{editingImage}}" class="rounded mx-auto d-block" width=100>
        </div><br>
            <label>Nombre:</label> <input class="edit" type="text" maxlength="20" [(ngModel)]="platoToEdit.nombre" #nombre="ngModel" placeholder="Nombre del plato" [ngModelOptions]="{standalone: true}">
            <label>Precio:</label> <input class="edit" type="number" placeholder="Precio"[(ngModel)]="platoToEdit.precio" #precio="ngModel" [ngModelOptions]="{standalone: true}">
            <label>Personalizable:</label> <input type="checkbox" [(ngModel)]="platoToEdit.personal" #personal="ngModel" [ngModelOptions]="{standalone: true}">
          <div *ngIf="platoToEdit.personal">
            <label>Contornos:</label>
            <div *ngFor="let contorno of platoToEdit.contornos">
                <div *ngIf=contorno.nombre >
                    <input class="edit" type="text" placeholder="Nombre" [(ngModel)]="contorno.nombre" [ngModelOptions]="{standalone: true}">
                    <input class="edit" type="number" placeholder="Precio" [(ngModel)]="contorno.carga" [ngModelOptions]="{standalone: true}"><br>
                </div>
            </div>
            <div>
                <input class="edit" type="text" placeholder="Nombre" [(ngModel)]="addingContorno" [ngModelOptions]="{standalone: true}">
                <input class="edit" type="number" placeholder="Precio" [(ngModel)]="cargaContorno" [ngModelOptions]="{standalone: true}"><br>
                <p class="error" *ngIf="errorContorno.length>0">{{errorContorno}}</p>
                <a (click)="addContorno()" class="btn btn-primary contorno">Agregar</a>
                <a (click)="deleteContorno()" class="btn btn-primary contorno">Eliminar Último</a>
            </div>
          </div>
            <label>Habilitado:</label> <input class="edit"  type="checkbox" [(ngModel)]="platoToEdit.activo" #activo="ngModel" [ngModelOptions]="{standalone: true}">
            <label>Imágen:</label> <input class="edit" type="file" (change)="uploadFoto($event)">
            <div class="progress">
              <div class="progress-bar" role="progressbar" [style.width]="(uploadProgress | async) + '%'" [attr.aria-valuenow]="(uploadProgress | async)" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p class="error" *ngIf="error.length>0">{{error}}</p>
          <button type="submit" class="btn btn-primary">Guardar cambios</button>
          <button (click)="clearEditing()" class="btn btn-primary">Volver</button>
      </form>
</div>
<input type="text" [(ngModel)]="campoText" #campo="ngModel" [ngModelOptions]="{standalone: true}" (keyup)="search($event)" placeholder="Busca un plato">
<div *ngIf="platos.length === 0 && buscando">
    No hay platos por ese nombre!!
</div><br><br>
<td *ngIf="!editState"><a (click)="goAdd()" class="btn btn-primary add">Agregar</a></td>