<router-outlet></router-outlet>

<table *ngIf="!editState" class="table table-bordered">
    <thead>
        <tr>
            <th>Imágen</th>
            <th>Producto</th>
            <th>Precio</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tr  *ngFor="let plato of platos">
        <td><img class="rounded mx-auto d-block" width=100 src="{{plato.image}}"></td>
        <td><p>{{plato.nombre}}</p></td>
        <td><p>{{plato.precio}} BsS.</p></td>
        <td><a class="btn btn-primary other" (click)="edit($event,plato)">Editar</a></td>
        <td><a class="btn btn-primary other" (click)="delete($event,plato)">Eliminar</a></td>
    </tr>
</table>

<div *ngIf="editState">
    <form (ngSubmit)="updatePlato(platoToEdit)">
        <div>
          <h5>Editando: {{platoToEdit.nombre}}</h5>
          <div>
            Nombre: <input type="text" maxlength="20" [(ngModel)]="platoToEdit.nombre" #nombre="ngModel" placeholder="Nombre del plato" [ngModelOptions]="{standalone: true}">
          </div>
          <div>
            Precio: <input type="number" placeholder="Precio"[(ngModel)]="platoToEdit.precio" #precio="ngModel" [ngModelOptions]="{standalone: true}">
          </div>
          <div>
            Personalizable: <input type="checkbox" [(ngModel)]="platoToEdit.personal" #personal="ngModel" [ngModelOptions]="{standalone: true}">
          </div>
          <div *ngIf="platoToEdit.personal">
            <h6>Contornos:</h6>
            <div *ngFor="let contorno of platoToEdit.contornos">
                <div *ngIf=contorno.nombre >
                    <input type="text" placeholder="Nombre" [(ngModel)]="contorno.nombre" [ngModelOptions]="{standalone: true}">
                    <input type="number" placeholder="Precio" [(ngModel)]="contorno.carga" [ngModelOptions]="{standalone: true}"><br>
                </div>
            </div>
            <div>
                <input type="text" placeholder="Nombre" [(ngModel)]="addingContorno" [ngModelOptions]="{standalone: true}">
                <input type="number" placeholder="Precio" [(ngModel)]="cargaContorno" [ngModelOptions]="{standalone: true}"><br>
                <a (click)="addContorno()" class="btn btn-primary contorno">Agregar</a>
                <a (click)="deleteContorno()" class="btn btn-primary contorno">Eliminar Último</a>
            </div>
          </div>
          <div>
            Habilitado: <input type="checkbox" [(ngModel)]="platoToEdit.activo" #activo="ngModel" [ngModelOptions]="{standalone: true}">
          </div>
          <button type="submit" class="btn btn-primary">Guardar cambios</button>
        </div>
      </form>
      <a (click)="clearEditing()" class="btn btn-primary">Volver</a>
</div>
<input type="text" [(ngModel)]="campoText" #campo="ngModel" [ngModelOptions]="{standalone: true}" (keyup)="search($event)" placeholder="Busca un plato">
<td *ngIf="!editState"><a (click)="goAdd()" class="btn btn-primary add">Agregar</a></td>