<router-outlet></router-outlet>

<table *ngIf=todo class="table table-bordered">
    <thead>
        <tr>
            <th>Imágen</th>
            <th>Producto</th>
            <th>Precio</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tr  *ngFor="let plato of platos">
        <td *ngIf="plato.id!=0"><img class="rounded mx-auto d-block" width=100 src="{{plato.image}}"></td>
        <td *ngIf="plato.id!=0"><p>{{plato.nombre}}</p></td>
        <td *ngIf="plato.id!=0"><p>{{plato.precio}}</p></td>
        <td *ngIf="plato.id!=0"><a class="btn btn-primary" routerLink="editar/{{plato.id}}">Editar</a></td>
        <td *ngIf="plato.id!=0"><a class="btn btn-primary" (click)="delete(plato)">Eliminar</a></td>
    </tr>
</table>

<input type="text" placeholder="Busca un plato"><a class="btn btn-primary">Buscar</a><br><br>

<input #newPlato />
<button (click)="add(newPlato.value); newPlato.value=''">
        add
</button>