.table{
    margin-top:2%;
}
.perso{
    width:50%;
}
th{
    text-align: center;
    font-size: 120%;
}
td{
    text-align: center;
    font-size:105%;
}
h5{
    text-align: center;
    margin-left: 10%;
}
label{
    margin-left:5%;
    font-family:'Lucida Sans Unicode';
    text-align: center;
    width: 30%;
}
.progress{
    margin-left: 7%;
}
input{
    border-radius: 20px;
    width: 40%;
    display: flex;
    flex-direction:column;
    border: none;
    background: white;
}
form{
    background:#e1e1e1;
    border-radius: 10%;
    width:30%;
    margin-top: 2%;
    margin-left:34%;
    padding: 4% 4% 1% 0;
    font-family:'Lucida Sans Unicode';
}
button{
    text-decoration: none;
    margin-left:30%;
    color: rgb(0, 0, 0);
    padding: 2% 6%;
    background: rgb(18, 147, 233);
    border-radius: 10px;
    font-family:'Lucida Sans Unicode';
    font-size: small;
    text-align: center;
}
button:link{
    color:black;
}
button:hover{
    background: #0a1aff;
}
input{
    width: 100%;
    margin-left:5%;
    margin-bottom: 0%;
    padding: 2%;
    font-family:'Lucida Sans Unicode';
    
}
input:focus{
    border: 1px solid #2f49da;
}
.add{
    margin-left: 20%;
}
.contorno{
    text-align: center;
    margin-left: 7%;
}
a{
    color:white
}
.error{
    margin-left:5%;
    margin-top:0%;
    font-size:90%;
    color:red;
}