<router-outlet></router-outlet>
<div class="row">
  <div class="col-md-6 col-sm-12">
    <h2>Daniel Natera</h2>
    <div class="card">
      <div class="card-header">Número de contacto: 04147931742</div>
      <div class="card-body">Correo: nateragomes@gmail.com</div> 
      <div class="card-footer">Dirección: Av FF</div>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <table class="table table-hover">
      <thead>
        <th>Historial de Orden</th>
      </thead>
      <tr>
        <td>Orden 1</td>
        <td><a class="btn btn-primary">Ordenar</a></td>
      </tr>
    </table>
  </div>
</div>