<router-outlet></router-outlet>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
 
<div class="container">
  <h2>Daniel Natera</h2>
  <div class="card">
    <div class="card-header">Número de contacto: 04147931742</div>
    <div class="card-body">Correo: nateragomes@gmail.com</div> 
    <div class="card-footer">Dirección: Av FF</div>
  </div>
</div>

</body>
</html>