<div class="container">
  
  <nav class="navbar navbar-expand-sm bg-light">

    <ul class="navbar-nav">
      <li><img src=""></li>
      <li>Usuario: Nombre</li>
      <li class="nav-item"><a class="nav-link" href="/home"><strong>Inicio</strong></a></li>
      <li class="nav-item"><a class="nav-link" href="/menu"><strong>Menú</strong></a></li>
      <li class="nav-item"><a class="nav-link" href="/historial"><strong>Carrito</strong></a></li>
      <li class="nav-item"><a class="nav-link" href="/ayuda"><strong>Ayuda</strong></a></li>
    </ul>

  </nav>
</div>
<router-outlet></router-outlet>
