
<router-outlet></router-outlet>

<table class="table table-bordered">
    <thead >
        <tr>
            <th>Imágen</th>
            <th>Producto</th>
            <th>Precio</th>
            <th>Editable</th>
        </tr>
    </thead>
    <tr>
        <td><img>Imágen 1</td>
        <td>Producto 1</td>
        <td>Precio 1</td>
        <td><a>Editar 1</a></td>
    </tr>
    <tr>
        <td><img>Imágen 2</td>
        <td>Producto 2</td>
        <td>Precio 2</td>
        <td><a>Editar 2</a></td>
    </tr>
    <tr>
        <td><img>Imágen 3</td>
        <td>Producto 3</td>
        <td>Precio 3</td>
        <td><a>Editar 3</a></td>
    </tr>
</table>
