
<router-outlet></router-outlet>
    <section class="main">
        <section class="articles">
            <article>
                <h2>Imagen de comida principal </h2>
                <h3>Lorem ipsum dolor sit amet, 
                    consectetur adipiscing elit.
                    Nam tristique velit tellus, 
                         ed bibendum quam gravida a. 
                         Duis tempor, dolor a condimentum 
                         tincidunt, neque ex ornare mauris, 
                         at mollis ligula mi et sapien. Curabitur
                          scelerisque dolor ac neque dapibus, non 
                          consequat orci lobortis. Sed congue sem
                           vel nulla venenatis, dictum luctus
                            lectus consectetur. Nunc commodo 
                            ipsum pharetra volutpat semper. 
                            Cras congue quam a turpis maximus
                             ultricies. Nam tristique lectus in 
                             semper tincidunt. Sed ligula tellus, 
                             vestibulum vel enim imperdiet, sodales 
                             varius augue. Suspendisse eu auctor turpis.</h3>
                </article>
            </section>

            <aside>
                <h2>Imagen de comida sidebar1</h2>
                <h3>Lorem ipsum dolor sit amet, consectetur 
                    adipiscing elit. Nam tristique velit tellus,
                     sed bibendum quam gravida a. Duis tempor, 
                     dolor a condimentum tincidunt, neque ex ornare
                      mauris, at mollis ligula mi et sapien. 
                      Curabitur scelerisque dolor ac neque dapibus,</h3>
            </aside>
        </section>
<footer>
    <p>Pie de pagina </p>
</footer>